In [113]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px

In [114]:
df=pd.read_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Cleaned & Uncleaned Datasets\Cleaned_Flight_delay.csv")

In [115]:
df.head()

,FlightID,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,4,2019-01-03,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,...,3,10,0,N,0,2,0,0,0,32
1,1,4,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,...,3,7,0,N,0,10,0,0,0,47
2,2,4,2019-01-03,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,...,6,8,0,N,0,8,0,0,0,72
3,3,4,2019-01-03,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,...,7,8,0,N,0,3,0,0,0,12
4,4,4,2019-01-03,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,...,4,9,0,N,0,0,0,0,0,16

In [116]:
df.columns

Index(['FlightID', 'DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime',
       'Scheduled_ArrTime', 'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin_IATA_Code', 'Dep_Airport', 'Dest_IATA_Code',
       'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [117]:
df.duplicated().sum()

np.int64(0)

In [118]:
df['Dep_Airport'].duplicated().sum()

np.int64(484291)

In [119]:
df['Dest_IATA_Code'].duplicated().sum()

np.int64(484277)

In [120]:
df['Origin_IATA_Code'].duplicated().sum()

np.int64(484277)

In [121]:
df[['Dep_Airport','Dest_Airport']].nunique()

Dep_Airport     259
Dest_Airport    259
dtype: int64

In [122]:
df[['Origin_IATA_Code','Dest_IATA_Code']].nunique()

Origin_IATA_Code    274
Dest_IATA_Code      274
dtype: int64

In [123]:
df.head()

,FlightID,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,4,2019-01-03,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,...,3,10,0,N,0,2,0,0,0,32
1,1,4,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,...,3,7,0,N,0,10,0,0,0,47
2,2,4,2019-01-03,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,...,6,8,0,N,0,8,0,0,0,72
3,3,4,2019-01-03,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,...,7,8,0,N,0,3,0,0,0,12
4,4,4,2019-01-03,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,...,4,9,0,N,0,0,0,0,0,16

# Airports Table

In [124]:
Airports_data_df=pd.read_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Cleaned & Uncleaned Datasets\airports-extended.csv")

In [125]:
Airports_data_df.head()

,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
3,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
4,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10,U,Pacific/Port_Moresby,airport,OurAirports

In [126]:
Airports_df=pd.concat([

    df[['Origin_IATA_Code','Dep_Airport']].rename(columns={"Origin_IATA_Code":'IATA_Code','Dep_Airport':'AirportName'}),
    df[['Dest_IATA_Code','Dest_Airport']].rename(columns={"Dest_IATA_Code":'IATA_Code','Dest_Airport':'AirportName'})
],ignore_index=True)

In [127]:
Airports=list(Airports_df['IATA_Code'])

In [128]:
Airports

['IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'ISP',
 'ISP',
 'ISP',
 'ISP',
 'ISP',
 'ISP',
 'JAN',
 'JAN',
 'JAN',
 'JAN',
 'JAN',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAS',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LAX',
 'LBB',
 'LBB',
 'LBB',
 'LIT',
 'LIT',
 'LIT',
 'LIT',
 'LIT',
 'MAF',
 'MAF',
 'MAF',
 'MAF',
 'MAF',
 'MAF',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCI',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MCO',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MDW',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MHT',
 'MSY',
 'MSY',
 'MSY',
 'MSY',
 'MSY',
 'MSY',
 'MSY',
 'MSY',
 'MSY',
 'MSY',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OAK',
 'OKC',
 'OKC',
 'OKC',
 'OKC',
 'OKC',
 'OKC',
 'OMA',
 'OMA',
 'OMA',
 'OMA',
 'OMA',
 'OMA',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ONT',
 'ORF',
 'ORF',
 'ORF',
 'ORF',
 'ORF',
 'ORF',
 'ORF',
 'ORF',
 'ORF',
 'PBI',
 'PBI',
 'PBI',
 'PBI',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PDX',
 'PHL',
 'PHL',
 'PHL',
 'PHL',
 'PHL',
 'PHL',
 'PHL',
 'PHL',
 'PHL',
 'PHL',
 'PHL',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PHX',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PVD',
 'PVD',
 'PVD',
 'PVD',
 'RDU',
 'RDU',
 'RDU',
 'RDU',
 'RDU',
 'RDU',
 'RDU',
 'RDU',
 'RDU',
 'RDU',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RNO',
 'RSW',
 'RSW',
 'RSW',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAN',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SAT',
 'SDF',
 'SDF',
 'SDF',
 'SDF',
 'SDF',
 'SDF',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SEA',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SFO',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SJC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SLC',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SMF',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'SNA',
 'STL',
 'STL',
 'STL',
 'STL',
 'STL',
 'STL',
 'STL',
 ...]

In [129]:
len(Airports)

969102

In [130]:
Airports_data_df.columns

Index(['1', 'Goroka Airport', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA',
       '-6.081689834590001', '145.391998291', '5282', '10', 'U',
       'Pacific/Port_Moresby', 'airport', 'OurAirports'],
      dtype='object')

In [131]:
Airports_GeoLocation=Airports_data_df[Airports_data_df['GKA'].isin(Airports)][['GKA','AYGA','-6.081689834590001','145.391998291']]

In [132]:
Airports_GeoLocation.nunique()

GKA                   274
AYGA                  274
-6.081689834590001    274
145.391998291         274
dtype: int64

In [133]:
Airports_GeoLocation.head()

      GKA  AYGA  -6.081689834590001  145.391998291
2748  STT  TIST           18.337299     -64.973396
2749  STX  TISX           17.701900     -64.798599
2750  BQN  TJBQ           18.494900     -67.129402
2754  PSE  TJPS           18.008301     -66.563004
2755  SJU  TJSJ           18.439400     -66.001801

In [134]:
Airports_GeoLocation.isnull().sum()

GKA                   0
AYGA                  0
-6.081689834590001    0
145.391998291         0
dtype: int64

In [135]:
Airports_df.head()

  IATA_Code                         AirportName
0       IND  Indianapolis International Airport
1       IND  Indianapolis International Airport
2       IND  Indianapolis International Airport
3       IND  Indianapolis International Airport
4       IND  Indianapolis International Airport

In [136]:
Airports_df['IATA_Code'].unique()

array(['IND', 'ISP', 'JAN', 'JAX', 'LAS', 'LAX', 'LBB', 'LIT', 'MAF',
       'MCI', 'MCO', 'MDW', 'MHT', 'MSY', 'OAK', 'OKC', 'OMA', 'ONT',
       'ORF', 'PBI', 'PDX', 'PHL', 'PHX', 'PIT', 'PVD', 'RDU', 'RNO',
       'RSW', 'SAN', 'SAT', 'SDF', 'SEA', 'SFO', 'SJC', 'SLC', 'SMF',
       'SNA', 'STL', 'TPA', 'TUL', 'TUS', 'ABQ', 'AMA', 'AUS', 'BHM',
       'BNA', 'BOI', 'BUF', 'BUR', 'BWI', 'CMH', 'CRP', 'DAL', 'DEN',
       'ELP', 'FLL', 'GEG', 'HOU', 'HRL', 'IAD', 'ALB', 'BDL', 'DTW',
       'CLE', 'ORD', 'ATL', 'CVG', 'MKE', 'MSP', 'EWR', 'SUN', 'SGU',
       'MSO', 'BZN', 'GTF', 'BIL', 'PSP', 'HDN', 'IAH', 'DFW', 'ASE',
       'JAC', 'SBP', 'FAT', 'EUG', 'MOD', 'LEX', 'FSD', 'BTV', 'ROA',
       'MEM', 'FAR', 'XNA', 'COS', 'GUC', 'AZO', 'TVC', 'CRW', 'TYS',
       'SAV', 'ICT', 'GJT', 'PIA', 'SGF', 'MSN', 'CID', 'MLI', 'DRO',
       'CHS', 'DSM', 'ATW', 'GRB', 'FWA', 'DAY', 'LNK', 'FCA', 'IDA',
       'HSV', 'CWA', 'MFR', 'PSC', 'SYR', 'SBA', 'RAP', 'YUM', 'RDM',
       'LGB', 'MTJ', 'RDD', 'CLD', 'SBN', 'HPN', 'SPI', 'MBS', 'LAN',
       'TWF', 'MRY', 'SMX', 'ACV', 'BFL', 'CEC', 'CIC', 'PMD', 'EKO',
       'IYK', 'OXR', 'IPL', 'PIH', 'CPR', 'BTM', 'HLN', 'BLI', 'CAK',
       'RFD', 'COD', 'SLE', 'LWS', 'GRR', 'AVP', 'ABE', 'BIS', 'GSP',
       'CDC', 'BMI', 'YKM', 'CLT', 'HNL', 'KOA', 'OGG', 'JFK', 'LIH',
       'MDT', 'LGA', 'RIC', 'BOS', 'EGE', 'ROC', 'GSO', 'DCA', 'SJU',
       'STT', 'MIA', 'ANC', 'MYR', 'STX', 'ILM', 'VPS', 'SRQ', 'PNS',
       'DAB', 'CAE', 'GPT', 'MLB', 'PHF', 'MFE', 'SHV', 'MGM', 'PFN',
       'CHA', 'FAY', 'AGS', 'MOB', 'BTR', 'BGR', 'GNV', 'ABY', 'DHN',
       'AVL', 'EVV', 'FNT', 'TRI', 'OAJ', 'AEX', 'SWF', 'EWN', 'MEI',
       'PWM', 'GRK', 'GTR', 'LFT', 'LYH', 'HHH', 'EYW', 'VLD', 'CSG',
       'MLU', 'TLH', 'ACY', 'FSM', 'MCN', 'CHO', 'TOL', 'FLO', 'BQK',
       'SCE', 'ITO', 'LAW', 'SPS', 'ABI', 'CLL', 'TYR', 'GGG', 'ACT',
       'SJT', 'TXK', 'LRD', 'CMI', 'ROW', 'RST', 'MQT', 'LSE', 'DBQ',
       'KTN', 'JNU', 'SIT', 'PSG', 'CDV', 'YAK', 'BET', 'BRW', 'SCC',
       'FAI', 'ADQ', 'WRG', 'OME', 'OTZ', 'ADK', 'PSE', 'BQN', 'MKG',
       'DLG', 'AKN', 'LWB', 'WYS'], dtype=object)

In [137]:
Airports_df.isnull().sum()

IATA_Code         0
AirportName    2656
dtype: int64

In [138]:
Airports_df[Airports_df['AirportName'].isnull()]['IATA_Code']

17166     MOD
17169     MOD
17170     MOD
17622     MOD
18049     MOD
         ...
945884    LYH
945885    LYH
945886    LYH
945887    LYH
945888    LYH
Name: IATA_Code, Length: 2656, dtype: object

In [139]:
airport_names = {
    "MOD": "Modesto City-County Airport",
    "CIC": "Chico Regional Airport",
    "PMD": "Palmdale Regional Airport",
    "IYK": "Inyokern Airport",
    "OXR": "Oxnard Airport",
    "IPL": "Imperial County Airport",
    "RFD": "Chicago Rockford International Airport",
    "SLE": "McNary Field",
    "YKM": "Yakima Air Terminal",
    "PFN": "Panama City-Bay County International Airport",
    "LYH": "Lynchburg Regional Airport",
    "HHH": "Hilton Head Airport",
    "MCN": "Middle Georgia Regional Airport",
    "FLO": "Florence Regional Airport",
    "LWB": "Greenbrier Valley Airport"
}

In [140]:
Airports_df['AirportName'] = Airports_df['AirportName'].fillna(Airports_df["IATA_Code"].map(airport_names))

In [141]:
Airports_df.isnull().sum()

IATA_Code      0
AirportName    0
dtype: int64

In [142]:
Airports_df.loc[Airports_df['IATA_Code']=='IND']

       IATA_Code                         AirportName
0            IND  Indianapolis International Airport
1            IND  Indianapolis International Airport
2            IND  Indianapolis International Airport
3            IND  Indianapolis International Airport
4            IND  Indianapolis International Airport
...          ...                                 ...
968197       IND  Indianapolis International Airport
968198       IND  Indianapolis International Airport
968199       IND  Indianapolis International Airport
968200       IND  Indianapolis International Airport
968201       IND  Indianapolis International Airport

[4018 rows x 2 columns]

In [143]:
Airports_df.loc[Airports_df['IATA_Code']=='HRL']

       IATA_Code                   AirportName
1269         HRL  Valley International Airport
2323         HRL  Valley International Airport
2324         HRL  Valley International Airport
3336         HRL  Valley International Airport
3337         HRL  Valley International Airport
...          ...                           ...
908490       HRL  Valley International Airport
908858       HRL  Valley International Airport
910092       HRL  Valley International Airport
910093       HRL  Valley International Airport
938037       HRL  Valley International Airport

[1004 rows x 2 columns]

In [144]:
Airports_df.duplicated().sum()

np.int64(968828)

In [145]:
Airports_df.nunique()

IATA_Code      274
AirportName    274
dtype: int64

In [146]:
Airports_df.drop_duplicates(inplace=True)

In [147]:
Airports_df.duplicated().sum()

np.int64(0)

In [148]:
Airports_df.loc[Airports_df['IATA_Code']=='IND']

  IATA_Code                         AirportName
0       IND  Indianapolis International Airport

In [149]:
Airports_df.loc[Airports_df['IATA_Code']=='HRL']

     IATA_Code                   AirportName
1269       HRL  Valley International Airport

In [150]:
Airports_df.loc[Airports_df['IATA_Code']=='HHH']

      IATA_Code          AirportName
52433       HHH  Hilton Head Airport

In [151]:
Airports_GeoLocation.columns

Index(['GKA', 'AYGA', '-6.081689834590001', '145.391998291'], dtype='object')

In [152]:
Airports_df.columns

Index(['IATA_Code', 'AirportName'], dtype='object')

In [153]:
Airports_GeoLocation=Airports_GeoLocation.rename(
    columns={'GKA':'IATA_Code','AYGA':'Location_Indicator','-6.081689834590001':'Latitude','145.391998291':'Longitude'})

In [154]:
Airports_GeoLocation.columns

Index(['IATA_Code', 'Location_Indicator', 'Latitude', 'Longitude'], dtype='object')

In [155]:
Airports_df.nunique()

IATA_Code      274
AirportName    274
dtype: int64

In [156]:
Airports_df=Airports_df.merge(Airports_GeoLocation,on='IATA_Code',how='left')

In [157]:
Airports_df.columns

Index(['IATA_Code', 'AirportName', 'Location_Indicator', 'Latitude',
       'Longitude'],
      dtype='object')

In [158]:
Airports_df.head()

,IATA_Code,AirportName,Location_Indicator,Latitude,Longitude
0,IND,Indianapolis International Airport,KIND,39.717300,-86.294403
1,ISP,Long Island MacArthur Airport,KISP,40.795200,-73.100197
2,JAN,Jackson-Evers International Airport,KJAN,32.311199,-90.075897
3,JAX,Jacksonville International Airport,KJAX,30.494101,-81.687897
4,LAS,McCarran International Airport,KLAS,36.080101,-115.152000

In [159]:
Airports_df.nunique()

IATA_Code             274
AirportName           274
Location_Indicator    274
Latitude              274
Longitude             274
dtype: int64

In [160]:
Airports_df['Location_Indicator'].isnull().sum()

np.int64(0)

In [161]:
Airports_df[Airports_df['IATA_Code']=='BZN']['AirportName']

73    Bozeman Yellowstone International Airport (Gal...
Name: AirportName, dtype: object

In [162]:
IATA_Codes=['LIT','SAN','SDF','SJC','SNA','BOI','BUR','BZN','HDN','SBA','RDM','LGB','SBP','EUG','ROA','ICT','GJT','LNK','SBN','LAN',
            'TWF','MRY','SMX','CEC','JFK','LGA','SJU','PNS','MFE','CHA','AGS','EWN','TXK','SJT','SIT','SCC']

In [163]:
len(IATA_Codes)

36

In [164]:
Airports_df[Airports_df['IATA_Code'].isin(IATA_Codes)][['IATA_Code','AirportName']]

    IATA_Code                                        AirportName
7         LIT  Bill and Hillary Clinton National Airport (Ada...
28        SAN  San Diego International Airport (Lindbergh Field)
30        SDF  Louisville International Airport (Standiford F...
33        SJC    Norman Y. Mineta San José International Airport
36        SNA         John Wayne Airport (Orange County Airport)
46        BOI                 Boise Airport (Boise Air Terminal)
48        BUR       Bob Hope Airport (Hollywood Burbank Airport)
73        BZN  Bozeman Yellowstone International Airport (Gal...
77        HDN       Yampa Valley Airport (Yampa Valley Regional)
82        SBP  San Luis Obispo County Regional Airport (McChe...
84        EUG                Eugene Airport (Mahlon Sweet Field)
89        ROA           Roanoke Regional Airport (Woodrum Field)
100       ICT  Wichita Dwight D. Eisenhower National Airport ...
101       GJT     Grand Junction Regional Airport (Walker Field)
114       LNK                Lincoln Airport (Lincoln Municipal)
122       SBA  Santa Barbara Municipal Airport (Santa Barbara...
125       RDM          Redmond Municipal Airport (Roberts Field)
126       LGB               Long Beach Airport (Daugherty Field)
130       SBN  South Bend International Airport (South Bend R...
134       LAN  Capital Region International Airport ( Lansing...
135       TWF       Magic Valley Regional Airport (Joslin Field)
136       MRY  Monterey Regional Airport (Monterey Peninsula ...
137       SMX  Santa Maria Public Airport (Capt G. Allan Hanc...
140       CEC     Del Norte County Airport (Jack McNamara Field)
169       JFK  John F. Kennedy International Airport (New Yor...
172       LGA            LaGuardia Airport (Marine Air Terminal)
179       SJU             Luis Muñoz Marín International Airport
188       PNS  Pensacola International Airport (Pensacola Gul...
194       MFE  McAllen-Miller International Airport (McAllen ...
198       CHA    Chattanooga Metropolitan Airport (Lovell Field)
200       AGS              Augusta Regional Airport (Bush Field)
214       EWN  Coastal Carolina Regional Airport (Craven Coun...
243       SJT         San Angelo Regional Airport (Mathis Field)
244       TXK            Texarkana Regional Airport (Webb Field)
254       SIT                      Sitka Rocky Gutierrez Airport
260       SCC            Deadhorse Airport (Prudhoe Bay Airport)

In [165]:
replacement_dict={'LIT':'Bill and Hillary Clinton National Airport','SAN':'San Diego International Airport','SDF':'Louisville International Airport',
                  'SJC':'San José Mineta International Airport','SNA':'John Wayne Airport','BOI':'Boise Airport',
                  'BUR':'Bob Hope Airport','BZN':'Bozeman Yellowstone International Airport','HDN':'Yampa Valley Airport',
                  'SBA':'Santa Barbara Municipal Airport','RDM':'Redmond Municipal Airport','LGB':'Long Beach Airport',
                  'SBP':'San Luis Obispo County Regional Airport','EUG':'Eugene Airport','ROA':'Roanoke Regional Airport',
                  'ICT':'Wichita Dwight D. Eisenhower National Airport','GJT':'Grand Junction Regional Airport','LNK':'Lincoln Airport',
                  'SBN':'South Bend International Airport','LAN':'Capital Region International Airport','TWF':'Magic Valley Regional Airport',
                  'MRY':'Monterey Regional Airport','SMX':'Santa Maria Public Airport','CEC':'Del Norte County Airport',
                  'JFK':'John F. Kennedy International Airport','LGA':'LaGuardia Airport','SJU':'Luis Muñoz Marín International Airport',
                  'PNS':'Pensacola International Airport','MFE':'McAllen-Miller International Airport','CHA':'Chattanooga Metropolitan Airport',
                  'AGS':'Augusta Regional Airport','EWN':'Coastal Carolina Regional Airport','TXK':'ATexarkana Regional Airport',
                  'SJT':'San Angelo Regional Airport','SIT':'Sitka Rocky Gutierrez Airport','SCC':'Deadhorse Airport'}

In [166]:
Airports_df.loc[Airports_df['IATA_Code'].isin(replacement_dict.keys()), 'AirportName'] = Airports_df['IATA_Code'].map(replacement_dict)

In [167]:
Airports_df[Airports_df['IATA_Code'].isin(IATA_Codes)][['IATA_Code','AirportName']]

    IATA_Code                                    AirportName
7         LIT      Bill and Hillary Clinton National Airport
28        SAN                San Diego International Airport
30        SDF               Louisville International Airport
33        SJC          San José Mineta International Airport
36        SNA                             John Wayne Airport
46        BOI                                  Boise Airport
48        BUR                               Bob Hope Airport
73        BZN      Bozeman Yellowstone International Airport
77        HDN                           Yampa Valley Airport
82        SBP        San Luis Obispo County Regional Airport
84        EUG                                 Eugene Airport
89        ROA                       Roanoke Regional Airport
100       ICT  Wichita Dwight D. Eisenhower National Airport
101       GJT                Grand Junction Regional Airport
114       LNK                                Lincoln Airport
122       SBA                Santa Barbara Municipal Airport
125       RDM                      Redmond Municipal Airport
126       LGB                             Long Beach Airport
130       SBN               South Bend International Airport
134       LAN           Capital Region International Airport
135       TWF                  Magic Valley Regional Airport
136       MRY                      Monterey Regional Airport
137       SMX                     Santa Maria Public Airport
140       CEC                       Del Norte County Airport
169       JFK          John F. Kennedy International Airport
172       LGA                              LaGuardia Airport
179       SJU         Luis Muñoz Marín International Airport
188       PNS                Pensacola International Airport
194       MFE           McAllen-Miller International Airport
198       CHA               Chattanooga Metropolitan Airport
200       AGS                       Augusta Regional Airport
214       EWN              Coastal Carolina Regional Airport
243       SJT                    San Angelo Regional Airport
244       TXK                    ATexarkana Regional Airport
254       SIT                  Sitka Rocky Gutierrez Airport
260       SCC                              Deadhorse Airport

In [168]:
len(Airports_df[Airports_df['IATA_Code'].isin(IATA_Codes)][['IATA_Code','AirportName']])

36

In [169]:
Airports_df.to_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Tables_CSV_Files\Airports_Data.CSV",index=False)

In [170]:
df.columns

Index(['FlightID', 'DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime',
       'Scheduled_ArrTime', 'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin_IATA_Code', 'Dep_Airport', 'Dest_IATA_Code',
       'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [171]:
df[['UniqueCarrier','Airline']].duplicated().sum()

np.int64(484539)

In [172]:
df['UniqueCarrier'].duplicated().sum()

np.int64(484539)

In [173]:
df['Airline'].duplicated().sum()

np.int64(484539)

In [174]:
df[['UniqueCarrier','Airline']].nunique()

UniqueCarrier    12
Airline          12
dtype: int64

# Airlines Table

In [175]:
Airlines_df=df[['UniqueCarrier','Airline']].copy()

In [176]:
Airlines_df.head()

  UniqueCarrier                 Airline
0            WN  Southwest Airlines Co.
1            WN  Southwest Airlines Co.
2            WN  Southwest Airlines Co.
3            WN  Southwest Airlines Co.
4            WN  Southwest Airlines Co.

In [177]:
Airlines_df.isnull().sum()

UniqueCarrier    0
Airline          0
dtype: int64

In [178]:
Airlines_df.duplicated().sum()

np.int64(484539)

In [179]:
Airlines_df[['UniqueCarrier','Airline']].nunique()

UniqueCarrier    12
Airline          12
dtype: int64

In [180]:
Airlines_df.drop_duplicates(inplace=True)

In [181]:
Airlines_df.duplicated().sum()

np.int64(0)

In [182]:
Airlines_df['CarrierID']=range(len(Airlines_df))

In [183]:
Airlines_df.head()

      UniqueCarrier                 Airline  CarrierID
0                WN  Southwest Airlines Co.          0
17018            OO   Skywest Airlines Inc.          1
28832            UA   United Air Lines Inc.          2
39693            US         US Airways Inc.          3
48002            DL    Delta Air Lines Inc.          4

In [184]:
Airlines_df=Airlines_df[['CarrierID','UniqueCarrier','Airline']]

In [185]:
Airlines_df.head()

       CarrierID UniqueCarrier                 Airline
0              0            WN  Southwest Airlines Co.
17018          1            OO   Skywest Airlines Inc.
28832          2            UA   United Air Lines Inc.
39693          3            US         US Airways Inc.
48002          4            DL    Delta Air Lines Inc.

In [186]:
Airlines_df.to_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Tables_CSV_Files\Airlines_Data.CSV",index=False)

In [187]:
df.columns

Index(['FlightID', 'DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime',
       'Scheduled_ArrTime', 'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin_IATA_Code', 'Dep_Airport', 'Dest_IATA_Code',
       'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

# Aircrafts Table

In [188]:
Aircraft_df=df[['TailNum','Airline']].copy()

In [189]:
Aircraft_df.head()

  TailNum                 Airline
0  N464WN  Southwest Airlines Co.
1  N763SW  Southwest Airlines Co.
2  N334SW  Southwest Airlines Co.
3  N286WN  Southwest Airlines Co.
4  N674AA  Southwest Airlines Co.

In [190]:
Aircraft_df.duplicated().sum()

np.int64(481039)

In [191]:
Aircraft_df.nunique()

TailNum    3512
Airline      12
dtype: int64

In [192]:
Aircraft_df.groupby('Airline')['TailNum'].nunique().reset_index()

                         Airline  TailNum
0           Alaska Airlines Inc.      120
1         American Airlines Inc.      655
2   American Eagle Airlines Inc.      259
3    Atlantic Southeast Airlines      161
4           Delta Air Lines Inc.      447
5         Frontier Airlines Inc.       62
6         Hawaiian Airlines Inc.       29
7                JetBlue Airways      143
8          Skywest Airlines Inc.      281
9         Southwest Airlines Co.      541
10               US Airways Inc.      363
11         United Air Lines Inc.      451

In [193]:
Aircraft_df.drop_duplicates(inplace=True)

In [194]:
Aircraft_df.duplicated().sum()

np.int64(0)

In [195]:
Aircraft_df.groupby('Airline')['TailNum'].nunique().reset_index()

                         Airline  TailNum
0           Alaska Airlines Inc.      120
1         American Airlines Inc.      655
2   American Eagle Airlines Inc.      259
3    Atlantic Southeast Airlines      161
4           Delta Air Lines Inc.      447
5         Frontier Airlines Inc.       62
6         Hawaiian Airlines Inc.       29
7                JetBlue Airways      143
8          Skywest Airlines Inc.      281
9         Southwest Airlines Co.      541
10               US Airways Inc.      363
11         United Air Lines Inc.      451

In [196]:
Aircraft_df.head()

  TailNum                 Airline
0  N464WN  Southwest Airlines Co.
1  N763SW  Southwest Airlines Co.
2  N334SW  Southwest Airlines Co.
3  N286WN  Southwest Airlines Co.
4  N674AA  Southwest Airlines Co.

In [197]:
Aircraft_df.to_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Tables_CSV_Files\Aircrafts_Data.CSV",index=False)

# Flights Table

In [198]:
df.columns

Index(['FlightID', 'DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime',
       'Scheduled_ArrTime', 'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin_IATA_Code', 'Dep_Airport', 'Dest_IATA_Code',
       'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [199]:
flight_df=df[['FlightID','FlightNum','Date','DayOfWeek','UniqueCarrier','TailNum','Origin_IATA_Code','Dest_IATA_Code','Distance','Cancelled','CancellationCode','Diverted']]

In [200]:
flight_df.head()

,FlightID,FlightNum,Date,DayOfWeek,UniqueCarrier,TailNum,Origin_IATA_Code,Dest_IATA_Code,Distance,Cancelled,CancellationCode,Diverted
0,0,3920,2019-01-03,4,WN,N464WN,IND,BWI,515,0,N,0
1,1,509,2019-01-03,4,WN,N763SW,IND,LAS,1591,0,N,0
2,2,1333,2019-01-03,4,WN,N334SW,IND,MCO,828,0,N,0
3,3,675,2019-01-03,4,WN,N286WN,IND,PHX,1489,0,N,0
4,4,4,2019-01-03,4,WN,N674AA,IND,TPA,838,0,N,0

In [201]:
flight_df.duplicated().sum()

np.int64(0)

In [202]:
flight_df.to_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Tables_CSV_Files\Flights_Data.CSV",index=False)

# FlightTimes Table

In [203]:
df.columns

Index(['FlightID', 'DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime',
       'Scheduled_ArrTime', 'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin_IATA_Code', 'Dep_Airport', 'Dest_IATA_Code',
       'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [204]:
flight_df.columns

Index(['FlightID', 'FlightNum', 'Date', 'DayOfWeek', 'UniqueCarrier',
       'TailNum', 'Origin_IATA_Code', 'Dest_IATA_Code', 'Distance',
       'Cancelled', 'CancellationCode', 'Diverted'],
      dtype='object')

In [205]:
FlightTimes_df=df[
    ['FlightID','ACT_DepTime','ACT_ArrTime','Scheduled_ArrTime','ActualElapsedTime','CRSElapsedTime','AirTime','DepDelay','ArrDelay']]

In [206]:
FlightTimes_df.columns

Index(['FlightID', 'ACT_DepTime', 'ACT_ArrTime', 'Scheduled_ArrTime',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'DepDelay',
       'ArrDelay'],
      dtype='object')

In [207]:
FlightTimes_df.duplicated().sum()

np.int64(0)

In [208]:
FlightTimes_df.head()

,FlightID,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,DepDelay,ArrDelay
0,0,18:29:00,19:59:00,19:25:00,90,90,77,34,34
1,1,19:37:00,20:37:00,19:40:00,240,250,230,67,57
2,2,16:44:00,18:45:00,17:25:00,121,135,107,94,80
3,3,14:52:00,16:40:00,16:25:00,228,240,213,27,15
4,4,13:23:00,15:26:00,15:10:00,123,135,110,28,16

In [209]:
FlightTimes_df.to_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Tables_CSV_Files\FlightTimes_Data.CSV",index=False)

# FlightDelays Table

In [210]:
df.columns

Index(['FlightID', 'DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime',
       'Scheduled_ArrTime', 'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin_IATA_Code', 'Dep_Airport', 'Dest_IATA_Code',
       'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [211]:
FlightDelays_df=df[['FlightID','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay','ArrDelay','CRSElapsedTime']]

In [212]:
FlightDelays_df.columns

Index(['FlightID', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay', 'ArrDelay', 'CRSElapsedTime'],
      dtype='object')

In [213]:
FlightDelays_df.duplicated().sum()

np.int64(0)

In [214]:
FlightDelays_df.head()

,FlightID,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ArrDelay,CRSElapsedTime
0,0,2,0,0,0,32,34,90
1,1,10,0,0,0,47,57,250
2,2,8,0,0,0,72,80,135
3,3,3,0,0,0,12,15,240
4,4,0,0,0,0,16,16,135

In [215]:
FlightDelays_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   FlightID           484551 non-null  int64
 1   CarrierDelay       484551 non-null  int64
 2   WeatherDelay       484551 non-null  int64
 3   NASDelay           484551 non-null  int64
 4   SecurityDelay      484551 non-null  int64
 5   LateAircraftDelay  484551 non-null  int64
 6   ArrDelay           484551 non-null  int64
 7   CRSElapsedTime     484551 non-null  int64
dtypes: int64(8)
memory usage: 29.6 MB

In [216]:
FlightDelays_df.to_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Tables_CSV_Files\FlightDelays_Data.CSV",index=False)

# TaxiTimes Table

In [217]:
df.columns

Index(['FlightID', 'DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime',
       'Scheduled_ArrTime', 'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin_IATA_Code', 'Dep_Airport', 'Dest_IATA_Code',
       'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [218]:
TaxiTimes_df=df[['FlightID','TaxiIn','TaxiOut']]

In [219]:
TaxiTimes_df.columns

Index(['FlightID', 'TaxiIn', 'TaxiOut'], dtype='object')

In [220]:
TaxiTimes_df.head()

   FlightID  TaxiIn  TaxiOut
0         0       3       10
1         1       3        7
2         2       6        8
3         3       7        8
4         4       4        9

In [221]:
TaxiTimes_df.duplicated().sum()

np.int64(0)

In [222]:
TaxiTimes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   FlightID  484551 non-null  int64
 1   TaxiIn    484551 non-null  int64
 2   TaxiOut   484551 non-null  int64
dtypes: int64(3)
memory usage: 11.1 MB

In [223]:
TaxiTimes_df.to_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Tables_CSV_Files\TaxiTimes_Data.CSV",index=False)

In [224]:
df[df['TaxiOut']==7]

,FlightID,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,1,4,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,...,3,7,0,N,0,10,0,0,0,47
8,8,4,2019-01-03,21:07:00,23:34:00,22:30:00,WN,Southwest Airlines Co.,362,N798SW,...,6,7,0,N,0,5,0,0,0,59
12,12,4,2019-01-03,22:45:00,23:54:00,18:50:00,WN,Southwest Airlines Co.,186,N792SW,...,3,7,0,N,0,282,0,0,0,22
13,13,4,2019-01-03,20:25:00,21:35:00,21:00:00,WN,Southwest Airlines Co.,3154,N252WN,...,3,7,0,N,0,26,0,0,0,9
14,14,4,2019-01-03,10:38:00,13:14:00,12:25:00,WN,Southwest Airlines Co.,1035,N346SW,...,8,7,0,N,0,7,0,0,0,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483155,483155,6,2019-06-07,15:24:00,16:53:00,16:15:00,AA,American Airlines Inc.,1316,N513AA,...,7,7,0,N,0,38,0,0,0,0
483156,483156,6,2019-06-14,15:55:00,17:26:00,16:15:00,AA,American Airlines Inc.,1316,N200AA,...,12,7,0,N,0,0,0,0,0,71
484345,484345,1,2019-06-30,17:55:00,19:34:00,10:00:00,AA,American Airlines Inc.,1461,N540AA,...,9,7,0,N,0,574,0,0,0,0
484346,484346,4,2019-06-05,08:52:00,10:14:00,09:55:00,AA,American Airlines Inc.,1463,N556AA,...,7,7,0,N,0,19,0,0,0,0
484522,484522,2,2019-06-24,07:17:00,08:25:00,08:10:00,AA,American Airlines Inc.,1491,N497AA,...,22,7,0,N,0,7,0,8,0,0